* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --m_c1: #212429;
    --m_c2: #3c405b;
    --m_c3: #D9D9D9;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    color: #CAB06A; 
    font-size: 20px;

}

nav {
    background-color: #212429; 
    color: #fff;
    padding: 10px;
    flex: 0.7;
    height: 100%;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.225);
}

nav ul li:first-child {
    color: #CAB06A;
    display: flex;
    align-items: center; 
    font-size: 20px; 
    font-weight: bold;
}

.nav-image {
    width: 30px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle; 
}

.nav-image.logo {
    width: 50px; 
    height: auto;
    vertical-align: middle; 
}

nav ul {
    list-style-type: none;
    text-align: left; 
}

nav ul li {
    margin-top: 10px; 
    margin-bottom: 40px; 
    font-family: 'Actor', sans-serif;
    font-size: 15px;
}

nav ul li:first-child {
    display: flex;
    align-items: center; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    height: 100vh; 
}

.feed {
    flex: 3;
<<<<<<< HEAD
    /* padding: 20px; */
=======
    padding: 20px;
>>>>>>> 713a12cb9365c2a6a2232bb54ce9b0ba5ae9fd9c
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.225); 
}

.trends{
    margin-top: 300px;
}

.search-box {
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin: 20px
    
}

.post {
    position: relative;
    width: auto;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

.post input[type="text"] {
    position: absolute;
    top: 1px;
    left: 80px;
    width: 900px;
    height: 100px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 25px; 
    outline: none;
}


.post button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 35px;
    border: solid #ffffff;
<<<<<<< HEAD
    background-color: var(--m_c2);
    bottom: 10px;
    right: 10px;
=======
    background-color: #3C405B;
>>>>>>> 713a12cb9365c2a6a2232bb54ce9b0ba5ae9fd9c
    border-radius: 15px;
    color: white;
}

.twt {
    position: relative;
    width: auto;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

.twt a {
    position: absolute;
}

.twt img {
    width: 30px;
    height: auto;
    top:80%;
}

.heart-btn {
    top: 75%;
    left: 50%; 

}

.reply-btn {
    bottom: 10px; 
    left: 10px; 
}



.post button:hover {
    background-color: #5A5F89; 
}

.post button:active {
    background-color: #1F1F3D; 
}

.profile {
    text-align: center;
}

.cover-photo {
<<<<<<< HEAD
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
=======
    position: relative; 
    width: 100%; /* Make width responsive */
    height: 200px; /* Fixed height */
    overflow: hidden; /* Hide overflowing content */
>>>>>>> 713a12cb9365c2a6a2232bb54ce9b0ba5ae9fd9c
}

.cover-photo img {
    width: 100%;
    height: auto;
}

.dp-holder {
    display: block;
    position: absolute;
    top: 15%;
    left: 40%;
}

.dp-holder img {
    width: 50%;
}

.h2
{
    text-align: center;
}

.profile-name {
    display: block;
    font-family: 'Actor', sans-serif;
    font-size: 15px;
    text-align: center; /* Center the text */
    position: absolute;
    top: 43%;
    left: 46.6%; /* Center the profile name horizontally */
    transform: translateX(-50%); /* Center the profile name horizontally */
}

.posts button{
display: block;
border: solid white;
background-color: transparent;
}

@media (max-width: 1200px) {

    h1 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {

    h1 {
        font-size: 16px;
    }
    nav ul li {
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 14px;
    }
    nav ul li {
        font-size: 10px;
    }
}

.hidden {
    display: none;
}
